/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


* { 
  margin: 0px; 
  padding: 0px;
  
}

/* Iteração 1 768px */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  background-color: purple;
}
body {
  display: flex;
  flex-wrap: wrap;
}
nav{       
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: purple;    
}    

 footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
 }
/* Iteração 2 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  nav {
    height: 140px;
    font-size: xx-large;
    font-weight: 500;
  }
}

/* Iteração 3 */
@media all and (min-width: 1024px) and (max-width: 1440px) {

}

/* Iteração 4 */
@media all and (min-width: 1440px) {
}
